  
#equals{
    display: flex;
    justify-content:center ;
    align-items: center;
    position: absolute;
    width: 80px;
    right: 5px;
    height: 130px;
    bottom:5px;
    background-color: #1B4965;
    color: white;
}


#equals:hover{
    color: black;
    outline: .05em solid grey;
    z-index: 3;
}